<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>ADMIN ONLY</h1>
<div>
    <table border="5">
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Email</th>
        </tr>

        <tr th:each="user: ${userList}">
            <th th:text="${user.getUsername()}"></th>
            <th th:text="${user.getPassword()}"></th>
            <th th:text="${user.getEmail()}"></th>
            <td>
                <a th:href="@{/admin/{id}/edit(id=${user.getId()})}">Edit</a>
            </td>
            <td>
                <a th:href="@{/admin/{id}/delete(id=${user.getId()})}">Delete</a>
            </td>
        </tr>
    </table>

    <br>

    <form th:method="POST" th:action="@{/admin/new-user}" th:object="${newUser}">
        <label class="row  justify-content-center" for="FirstNameNew">First Name</label>
        <input  class="form-control" type="text" name="firstName" id="FirstNameNew">
        <br>
        <label class="row  justify-content-center" for="LastNameNew">Last Name</label>
        <input  class="form-control" type="text" name="lastName" id="LastNameNew">
        <br>
        <label class="row  justify-content-center" for="AgeNew">Age</label>
        <input  class="form-control" type="text" name="age" id="AgeNew">
        <br>
        <label class="row  justify-content-center" for="emailNew">Email</label>
        <input  class="form-control" type="text" name="email" id="emailNew">
        <br>
        <label class="row  justify-content-center" for="passwordNew">Password</label>
        <input  class="form-control" type="password" name="password" id="passwordNew">
        <br>
        <label class="row  justify-content-center" for="roleNew">Role</label>
        <select class="form-control" size="2" id="roleNew" name="role">
            <option>ADMIN</option>
            <option>USER</option>
        </select>

        <p><input type="submit" value="ADD USER"></p>
    </form>

    <h4><a href="/">Home</a></h4>
    <h4><a th:href="@{/logout}">Logout</a></h4>
</div>
</body>
</html>
